In [1]:
#Importer les librairies necessaires pour notre traitement
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

### **Explorer nos donn√©es**: üëÅ

In [2]:
#Charger les donn√©es
df = pd.read_csv("/content/Import_Export.csv", delimiter=';')
display(df)

,id_pays,Country,Subject Descriptor,2005,2006,2007,2008,2009,2010,2011,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 22
0,1,USA,Volume of imports of goods and services,6.492,6.421,2.563,-2.148,-12.610,13.173,4.817,...,5.187,1.451,4.509,4.206,1.144,-8.958,14.134,8.080,-2.827,NaN
1,1,USA,Volume of exports of goods and services,6.939,9.467,8.759,5.782,-8.295,12.882,7.169,...,0.271,0.407,4.268,2.802,0.470,-13.235,6.054,7.081,1.572,NaN
2,2,Japan,Volume of imports of goods and services,5.946,4.704,2.271,0.733,-15.560,11.285,5.728,...,0.440,-1.175,3.307,3.814,0.988,-6.751,5.137,7.966,-2.266,NaN
3,2,Japan,Volume of exports of goods and services,7.120,10.306,8.703,1.588,-23.383,24.861,-0.120,...,3.211,1.618,6.619,3.760,-1.458,-11.595,11.875,5.138,1.045,NaN
4,3,Germany,Volume of imports of goods and services,6.233,11.521,6.491,1.842,-9.716,12.626,7.457,...,5.351,4.373,5.725,4.120,3.376,-8.901,8.761,6.771,0.175,NaN
5,3,Germany,Volume of exports of goods and services,7.012,12.833,9.251,1.267,-14.273,14.033,8.528,...,4.880,2.292,5.559,2.400,2.297,-10.032,9.488,3.451,0.939,NaN
6,4,China,Volume of imports of goods and services,13.385,17.693,14.901,7.545,3.117,23.094,13.422,...,-0.438,4.387,7.315,7.259,-2.904,-0.975,9.298,-5.008,-0.608,2022.0
7,4,China,Volume of exports of goods and services,24.338,26.019,21.128,10.836,-10.560,28.461,10.964,...,-2.156,0.679,7.971,3.988,1.133,2.090,17.677,-1.969,-1.806,2022.0
8,5,Russian Federation,Volume of imports of goods and services,10.036,26.976,34.388,22.183,-32.629,28.984,20.088,...,-25.833,-4.296,16.774,2.664,2.777,-11.804,16.656,-14.484,10.852,NaN
9,5,Russian Federation,Volume of exports of goods and services,6.824,6.666,6.298,3.859,-4.496,8.619,-2.083,...,2.969,1.851,4.471,5.108,-3.348,-4.378,0.554,-6.754,-7.480,NaN
10,6,Morocco,Volume of imports of goods and services,13.151,7.494,28.685,12.512,0.830,0.051,8.823,...,-1.120,15.822,6.207,4.332,0.954,-11.372,11.358,-0.044,-5.490,NaN
11,6,Morocco,Volume of exports of goods and services,11.892,-0.308,47.902,-3.188,-6.548,16.968,2.915,...,6.296,8.250,10.597,2.058,4.211,-16.857,6.882,29.865,-8.712,NaN
12,7,Saudi Arabia,Volume of imports of goods and services,24.452,21.766,21.231,10.504,-4.817,-1.912,5.411,...,3.422,-16.741,-0.320,2.222,2.941,-16.222,4.787,11.153,8.746,NaN
13,7,Saudi Arabia,Volume of exports of goods and services,12.616,2.698,3.853,-3.870,-8.517,7.365,9.452,...,3.967,5.845,-0.226,8.696,-3.383,-14.445,5.671,22.226,1.319,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_pays             14 non-null     int64
 1   Country             14 non-null     object
 2   Subject Descriptor  14 non-null     object
 3   2005                14 non-null     float64
 4   2006                14 non-null     float64
 5   2007                14 non-null     float64
 6   2008                14 non-null     float64
 7   2009                14 non-null     float64
 8   2010                14 non-null     float64
 9   2011                14 non-null     float64
 10  2012                14 non-null     float64
 11  2013                14 non-null     float64
 12  2014                14 non-null     float64
 13  2015                14 non-null     float64
 14  2016                14 non-null     float64
 15  2017                14 non-null     float64
 16  2018                14 non-null     float64
 17  2019                14 non-null     float64
 18  2020                14 non-null     float64
 19  2021                14 non-null     float64
 20  2022                14 non-null     float64
 21  2023                14 non-null     float64
 22  Unnamed: 22         2 non-null      float64
dtypes: float64(20), int64(1), object(2)
memory usage: 2.6+ KB

### *Effectuer une op√©ration de Pivot *

In [4]:
# Utiliser la fonction `melt` pour convertir les colonnes 2005 √† 2022 en une seule colonne 'date'
df_melted = pd.melt(df, id_vars=['id_pays', 'Country', 'Subject Descriptor'], var_name='date', value_name='valeur')

# Utiliser la fonction `pivot` pour obtenir les types d'investissement comme colonnes
df = df_melted.pivot_table(index=['id_pays', 'Country', 'date'], columns='Subject Descriptor', values='valeur', aggfunc='sum').reset_index()

In [5]:
df = df[['id_pays', 'Country', 'date', 'Volume of imports of goods and services', 'Volume of exports of goods and services']]
display(df)

Subject Descriptor,id_pays,Country,date,Volume of imports of goods and services,Volume of exports of goods and services
0,1,USA,2005,6.492,6.939
1,1,USA,2006,6.421,9.467
2,1,USA,2007,2.563,8.759
3,1,USA,2008,-2.148,5.782
4,1,USA,2009,-12.610,-8.295
...,...,...,...,...,...
135,7,Saudi Arabia,2020,-16.222,-14.445
136,7,Saudi Arabia,2021,4.787,5.671
137,7,Saudi Arabia,2022,11.153,22.226
138,7,Saudi Arabia,2023,8.746,1.319
139,7,Saudi Arabia,Unnamed: 22,0.000,0.000

# **G√©rer les donn√©es NaN**

In [6]:
# Compter les NaN dans l'ensemble du DataFrame
total_nan = df.isna().sum().sum()

# Compter les NaN par colonne
nan_by_column = df.isna().sum()

# Afficher les r√©sultats
print(f"Nombre total de NaN dans le DataFrame : {total_nan}")
print("\nNombre de NaN par colonne :")
print(nan_by_column)

Nombre total de NaN dans le DataFrame : 0

Nombre de NaN par colonne :
Subject Descriptor
id_pays                                    0
Country                                    0
date                                       0
Volume of imports of goods and services    0
Volume of exports of goods and services    0
dtype: int64

In [7]:
#Enregistrer le dataframe transform√© en fichier csv
df.to_csv('trasformed_Import_Exports.csv', index=False)